<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>581034001995-8e5oa16p6l1q0md3bd00sd3bd9aclcbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581034001995-8e5oa16p6l1q0md3bd00sd3bd9aclcbj</string>
	<key>API_KEY</key>
	<string>AIzaSyCa42BZifv6OhE0PCQS-9z960cnh-oM9AI</string>
	<key>GCM_SENDER_ID</key>
	<string>581034001995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Appzelof.Skurring</string>
	<key>PROJECT_ID</key>
	<string>skurring-247d1</string>
	<key>STORAGE_BUCKET</key>
	<string>skurring-247d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:581034001995:ios:968cfd79d01345d6</string>
	<key>DATABASE_URL</key>
	<string>https://skurring-247d1.firebaseio.com</string>
</dict>
</plist>